* {
    margin: 0;
    padding: 0;
}


/* HEADER */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding-left: 150px;
}

.header-container {
    padding: 15px 15px;
    position: fixed;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
    padding: 15px 5px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

img {
    padding: 0 0 20px 20;
}

nav {
    width: 300px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 100%;
}

ul li {
    display: list-item;
    font-size: 18px;
    color: #9c8034;
    font-family: 'Domine';
}

ul a {
    color:#9c8034;
    text-decoration: none;
}


/* CORPO APÓS O HEADER */
body {
    background-color: #fffaee;
    background-image: url(./images/fazenda.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 144px;
}



                /* História */

section .historia {
    position: fixed;
}

.historiaWrapper {
    background-color: #193a20;
    margin-top: 448px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 150px;
}

.historia h2 {
    align-items: center;
    color:#9c8034;
    font-family: 'Domine';
    font-size: 28px;
    font-weight: 700;
    margin: 0px 0px 24px;
    padding: 80px 0px 30px;
}

.historia p {
    color: white;
    margin: 17px 90px;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}


         /* imagem rodando */

.imagemfull {
    overflow-clip-margin: content-box;
    overflow: clip;
    position: absolute;
    left: 0;
    background-image: url('path/to/your/image.jpg') repeat-x;
    background-size: cover;
    animation: walk 100s linear infinite; /* Adjust the animation duration as needed */
    margin-bottom: 0;
}

@keyframes walk {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100vw - 3000px)); /* Adjust the distance the image moves */
    }
    100% {
        transform: translateX(0);
    }
}



            /* Procução */

section .producao {
    position: fixed;
}

.producaoWrapper {
    background-color: #fffaee;
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 150px
}

.producao h2 {
    align-items: center;
    color:#9c8034;
    font-family: 'Domine';
    font-size: 28px;
    margin: 0px 0px 24px;
    padding: 80px 0px 30px;
}

.producao p {
    color: #561717;
    margin: 17px 90px;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: 500;
}