* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    /* border: 1px solid red */
}

body {
    background-color: #fffdfa;
    font-family: "Quicksand";

}

strong {
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    color: #561717;
    font-weight: 700;
}



/* HEADER */


.header {
    height: 110px;
    background-color: #fffaee;
    /* border: 1px solid red; */
    padding: 20px 15px 10px;

}

.headercentral {
    display: flex;
    /* border: 1px solid green; */
    width: 900px;
    min-width: 10px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
    /* imagem logo  */
    .headerlogo {

    }

    .hpc {
        /* border: 1px solid red; */
        margin: 0px;
        width: 430px;
        margin-top: 30px;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
        /* 3 elementos */
        ul li {
        font-family: "Domine";
        list-style: none;
        font-size: 18px;
        
            
            }
            /* links */
            ul > li > a {
                color: #9c8034;
                text-decoration: none;
            }



                /* BACKGROUND - 1 */

/* (div da foto) */
.fotodeFundo {

}

.fotodeFundo img {
    width: 100%;

}




                /* SEÇÃO DA HISTÓRIA */


.secaoHistoria {
    background-color: #193a20;
    color: #fff;
    margin-top: -4px;
    display: flex;
    padding: 0px 0px 70px;
    justify-content: center;
    align-items: center;
}

.historiaTexto {
    width: 742px;
}


        /* Título */
        .historiaH2 {
            position: a;
            padding-top: 70px;
            padding-bottom: 30px;
            font-size: 28px;
            text-align: center;
            font-family: "Domine", serif;
            color: #9c8034;
            font-weight: 300;
        }

        /* Parágrafos */
        .historiaTexto p {
            position: relative;
            margin: 19px 0px;
            text-align: center;
            font-size: 17px;
            font-weight: 500;
            line-height: 22px;
        }


                /* IMAGEM SLIDE */



/* Div da que roda */
.slide {
    white-space: nowrap;
    overflow: hidden;
}

.slider {
    display: inline-block;
}

/* Imagem que rotaciona */
.slider img {
    animation: 35s slide infinite linear;
    margin: 0px;
    padding: 0px;
}


@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


                /* SEÇÃO DA PRODUÇÃO */


.secaoProducao {
    margin-top: -4px;
    display: flex;
    padding: 0px 0px 70px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    position: relative;
}

    .secaoFundo1 {
        position: absolute;
        width: 450px;
        left: 0%;
        top: 3%;
        right: 30px;
        transform: rotate(160deg);
    }

    .secaoFundo2 {
        position: absolute;
        width: 450px;
        right: 5%;
        top: 20%;
        left: 60%;

    }

                
.producaoTexto {
    width: 742px;
    /* position: relative; */

}
                
    /* Título */
    .producaoH2 {
        position: a;
        padding-top: 70px;
        padding-bottom: 30px;
        font-size: 28px;
        text-align: center;
        font-family: "Domine", serif;
        color: #9c8034;
        font-weight: 300;
    }
                    
        /* Parágrafos */
        .producaoTexto p {
            position: relative;
            margin: 17px 0px;
            text-align: center;
            font-size: 17px;
            font-weight: 500;
            line-height: 26px;
            color: #561717;
        }

            /* logos */
            .producaoLogos1 {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                max-width: 780px;
                margin: auto;
                background-color: #ffffff;
                padding-bottom: 40px;
            }

            .producaoLogo {
            }



                /* SEÇÃO DE CONTATO */


.secaoContato {
    background-color: #41311a;
    color: #9c8034;
    display: flex;
    justify-content: center;

    font-family: "Domine", serif;
}

.contatoContainer {
    height: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.contatoCentralizador {
    width: 750px;
}

    /* info */
    .contatoTitulo {
        font-size: 28px;
        border-bottom: 1px solid white;
        padding-bottom: 15px;
        border-color: #9c8034;
    }

    .contato_regiao {
        padding: 15px 0px 15px 0px;
        font-size: 25px;
        color: #eadfce;

    }

    .contato_regiaoDescricao {
        margin-top: -11px;
        margin-bottom: 20px;
        color: #eadfce;

    }

    .contato_dados {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 70px;
        color: #eadfce;
        font-family: "Manrope", sans-serif;
    }

            .contato_numero {

            }

            .contato_mail {
                
            }

            .contato_fax {
                /* transform: translateX(10px); */
            }

            .contato_localizacao1 {
                /* transform: translateX(-75px); */
            }
    

            /* MINI ÍCONES!! */



/*.logo_numero {
    height: 20px;
    width: 120px;
    background-repeat: no-repeat;
    background-image: url(./images/cellphone.svg);
    position: absolute;
    background-size: contain;
    transform: translateX(-25px);
    text-align: center;
}

.logo_mail1 {
    height: 20px;
    width: 60px;
    background-repeat: no-repeat;
    background-image: url(./images/mail.svg);
    position: absolute;
    background-size: contain;
    display: flex;
    transform: translateX(250px);
    text-align: center;
}

.logo_loc {
    height: 20px;
    width: 60px;
    background-repeat: no-repeat;
    background-image: url(./images/location.svg);
    position: absolute;
    background-size: contain;
    display: flex;
    transform: translateX(569px);
    text-align: center;
}

.logo_telefone {
    height: 20px;
    width: 120px;
    background-repeat: no-repeat;
    background-image: url(./images/phone.svg);
    position: absolute;
    background-size: contain;
    transform: translateX(-25px);
    text-align: center;
}

.logo_fax {
    height: 20px;
    width: 60px;
    background-repeat: no-repeat;
    background-image: url(./images/fax.svg);
    position: absolute;
    background-size: contain;
    display: flex;
    transform: translateX(278px);
    text-align: center;
}

.logo_loc2 {
    height: 20px;
    width: 60px;
    background-repeat: no-repeat;
    background-image: url(./images/location.svg);
    position: absolute;
    background-size: contain;
    display: flex;
    transform: translateX(570px);
    text-align: center;
}*/




    /* logo final */
    .logoFinal {
        display: flex;
        justify-content: center;
        height: 260px;
        margin-top: 60px;
    }

        .logo_final {
            height: 190px;
        }

    .footerDireitos {
        font-size: 15px;
        text-align: center;
        font-family: "Manrope", sans-serif;
        color: #a3883f;
        padding-bottom: 70px;
    }

    .last_strong {
        font-weight: 800;
    }



            /* WIDTH ADAPT */


    @media (720px <= width <= 1200px) {
        .historiaTexto {
            width: 500px;
        }
        .producaoTexto {
            width: 500px;
        }
        .headercentral {
            width: 500px;
            justify-content: center;
            position: relative;
            margin-top: 20px;
        }
        .hpc {
            background-color: #eadfce;
            display: flex;
            padding: 5px 0px;
        }
        .contatoCentralizador {
            width: 500px;
            justify-content: center;
        }
        .secaoFundo1 {
            transform: rotate(160deg);
            position: absolute;
            width: 300px;
            left: 10%;
        }
    
        .secaoFundo2 {
            position: absolute;
            width: 300px;
            transform: translateX(-30px);
    
        }
    }

    @media (width <= 719px) {
        .historiaTexto {
            width: 280px;
        }
        .producaoTexto {
            width: 280px;
        }
        .headercentral {
            width: 280px;
            justify-content: center;
            margin-top: 30px;
            position: relative;
        }
        .hpc {
            background-color: #eadfce;
            display: flex;
            padding: 5px 0px;
            margin-top: 30px;
        }
        .contatoCentralizador {
            width: 280px;
        }
        .contato_dados {
            display: block;
            text-align: center;
        }
        .contato_regiaoDescricao {
            display: block;
            text-align: center;
            margin-top: 2px;
        }
        .contato_regiao {
            margin-top: 15px;
            text-align: center;
        }
        .contatoTitulo {
            text-align: center;
        }
        .secaoFundo1 {
            transform: rotate(160deg);
            position: absolute;
            width: 300px;
            margin-left: 10%;
            overflow: hidden;
        }
    
        .secaoFundo2 {
            width: 0;
        }

    }